.hover-layer__activator_place_window:hover + .hover-layer__window{
    border: 2px #00FFFF dashed;
    background-color: rgba(255, 255, 0);
    box-sizing: border-box;
    background-image: url(../../../images/moon-sun.svg);
    background-size: contain;
    background-repeat: no-repeat;
}