 /*@keyframes scale{
    from{
        transform: scale(1);
        left: 0;
        top: 0;
    }
    to{
        transform: scale(1.5);
        left: 85px;
        top: 42.5px;
    }
}
.scale:hover{
    animation: scale 2s ease forwards;
}
